body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 300;
}
h1 {
  margin-bottom: 8px;
  font-family: 'Abel', sans-serif;
}
h2 {
  margin-bottom: 0px;
  color: #006699;
  font-family: 'Abel', sans-serif;
}
h3 {
  margin: 0px;
  font-family: 'Abel', sans-serif;
}
p {
  color: black;
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 0px;
}
.awards > h2, .education > h2, .job > h2 {
  color: black;
  font-size: 1.2em;
  font-weight: bolder;
  margin-top: 5px;
}
.awards > h3, .education > h3, .job > h3 {
  color: #666666;
  font-size: 1.1em;
}
.awards > p, .education > p, .job > p {
  margin-bottom: 8px;
}
.left {
  width: 200px;
  background-color: #DDDDDD;
  padding: 0px 10px 10px 10px;
  float: left;
  height: 1150px;
}
.left > p {
  margin-bottom: 0px;
}
.longdivide {
  color: #006699;
  border: 1px solid #006699;
  background-color: #006699;
  height: 1px;
  width: 700px;
  margin: 0px;
}
.page {
  width: 1000px;
  height: 1160px;
  margin: auto;
  border: 1px solid black;
}
.right {
  width: 700px;
  padding: 0px 10px 10px 10px;
  float: left
}
.sections {
  color: #006699;
}
.shortdivide {
  color: #006699;
  border: 1px solid #006699;
  background-color: #006699;
  height: 1px;
  width: 185px;
}
#h3special {
  color: #006699;
  font-size: 1.1em;
}