html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#Contact{
  padding-right: 5px;
	text-align: right;
}
body {
  background-color: #FCEBCE;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
hr {
  border-color: #c0c0c0;
  border-style: double;
  margin: 0px;
	width: 75%;
}
div {
	color: #282828;
	margin-left: 0px;
}
h3{
	margin: 1px;
	padding: 0px;
}
h4 {
	margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}
p {
  color: #414141;
  text-align: left;
  width: 75%;
}
.left {
  float:left;
  margin: auto;
  padding: 3px;
  text-align: center;
  width: 10%;
}
.main {
  margin-left:178px;
}
.top {
  height: 5%;
  opacity: 0.75;
  text-align: center;
  width: 100%;
}
#links{
  background-color: #AAA9A5;
  border-color: #414E5E;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  color: #414E5E;
  margin: 3px;
  padding: 5px;
  text-align: center;
  vertical-align: center;
  width: 100%;
}

#title {}

#aboutMe{}

#Experience {}

#techStack{}