html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*<!-- end needs -->*/
#Contact{
	text-align: right;
	padding-right: 5px;
}
body {
  	padding: 0px;
  	padding-left: 0px;
  	padding-right: 0px;
  	background-color: #f3f3f3;
  	border-radius: 10px;
  	border-style: solid;
  	border-color: black;
  }

hr {
	width: 75%;
	margin: 0px;
	border-style: double;
	border-color: #c0c0c0;
}

div {
	color: #282828;
	margin-left: 0px;
}

p {
	color: #414141;
	width: 75%;
	text-align: left;
}

h3{
	margin: 1px;
	padding: 0px;
}
h4 {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.top {
	text-align: center;
    height: 5%;
    width: 100%;
    opacity: 0.75;
    width: 100%;
    }

.left {
    width: 10%;
    float:left;
}
.main {
  margin-left:178px;
 }


#title {}

#aboutMe{}

#Experience {}

#techStack{}