body {
  background-color: rgb(202,217,164);
}
h2 {
  color: rgb(70,131,54);
  font-family: "Lucida Console", Courier, monospace;
  font-size: 50px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
}
section {
  background-image: url(woodbackground.jpg);
  border: 1px solid rgb(83,56,27);
  border-radius: 10px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  width: 750px;
}
div {
  background-color: rgb(55,110,133);
  border-color: rgb(55,133,117);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  color: rgb(102,183,81);
  float: left;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 20px;
  height: 152px;
  margin: 15px;
  text-align: center;
  vertical-align: center;
  width: 152px;
}
button {
  color: rgb(133,55,71);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}