html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #FCEBCE;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
}

div.rock, div.paper, div.scissors {
	margin: 15px;
  text-align: left;
  text-indent: 3px;
	vertical-align: center;
	border-style: solid;
	border-color: #3A4248;
	border-width: 2px;
	background-color: #9CA5B6;
	height: 200px;
	width: 200px;
	float: left;
	color: #B99D71;
	font-size: 20px;
  border-radius: 10px;
}

.button {
	margin: 5px;
}

.counter {
	margin: auto;
  text-align: center;
	vertical-align: center;
	border-style: solid;
	border-color: #3A4248;
	border-width: 2px;
	background-color: #9CA5B6;
	height: 50px;
	width: 100px;
	color: #3A4248;
	font-size: 20px;
  border-radius: 10px;
}

.choiceDisplay {
	margin: auto;
  text-align: center;
	vertical-align: center;
	border-style: solid;
	border-color: #3A4248;
	border-width: 2px;
	background-color: #9CA5B6;
	height: 30px;
	width: 600px;
	color: #3A4248;
	font-size: 20px;
  border-radius: 10px;
}

.fit {
	border: 3px solid #3A4248;
  border-radius: 10px;
	height: 235px;
	width: 696px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  padding: 0px;
  margin-top: 0px;
  background-color: #43495D;
}

.top {
	text-align: center;
  height: 5%;
  width: 100%;
  opacity: 0.75;
  width: 100%;
 }

h1 {
	position: absolute;
	margin: 5px;
	color: black;
}

div.rock {
	background-image: url(rock.gif);
}
div.paper {
	background-image: url(paper.jpg);
}
div.scissors {
	background-image: url(scissors.gif);
}
